In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import os

In [2]:
data = pd.read_csv("meanfield_isingdata_CSV.csv")
data

     T/T_C    m    e    c       chi
0    0.003  1.0 -2.0  0.0    0.0000
1    0.005  1.0 -2.0  0.0    0.0000
2    0.007  1.0 -2.0  0.0    0.0000
3    0.009  1.0 -2.0  0.0    0.0000
4    0.011  1.0 -2.0  0.0    0.0000
..     ...  ...  ...  ...       ...
501  1.000  0.0  0.0  0.0  200.0000
502  1.010  0.0  0.0  0.0  142.8570
503  1.010  0.0  0.0  0.0  111.1110
504  1.010  0.0  0.0  0.0   90.9091
505  1.010  0.0  0.0  0.0   76.9231

[506 rows x 5 columns]